<h1>{{title}}</h1>
<app-header-image [image]="headerImageUrl"></app-header-image>
<div class="row">
  <div id="divLogosClientes">
      
     
      <a href="https://www.bbva.es/‎" target="_blank">
          <img src="/Images/bbva.png" alt="BBVA"/>
      </a>
      <a href="http://www.accenture.es" target="_blank">
          <img src="/Images/accenture.png" alt="Accenture"/>
      </a>
      <a href="https://www.iberia.com/‎" target="_blank">
          <img src="/Images/iberia.png" alt="Iberia" />
      </a>

      <a href="http://www.eurocopter.com" target="_blank">
          <img src="/Images/eurocopter.png" alt="Eurocopter"/>
      </a>
      <a href="http://www.vodafone.es" target="_blank">
          <img src="/Images/vodafone.png" alt="Vodafone"/>
      </a>
      <a href="http://www.nec.es" target="_blank">
          <img src="/Images/nec.png" alt="NEC"/>
      </a>
      <a href="https://www.unisys.es/‎" target="_blank">
          <img src="/Images/unisys.png" alt="Unisys" />
      </a>

      <a href="http://www.itp.es" target="_blank">
          <img src="/Images/itp.png" alt="ITP"/>
      </a>
      <a href="https://www.sogeti.es/‎" target="_blank">
          <img src="/Images/sogeti.png" alt="Sogeti" />
      </a>
      <a href="http://www.kpmg.es" target="_blank">
          <img src="/Images/KPMG.png" alt="KPMG"/>
      </a>
      <a href="http://www.bnpparibascardif.es" target="_blank">
          <img src="/Images/cardif.png" alt="Cardif"/>
      </a>
      <a href="http://www.cunef.edu" target="_blank">
          <img src="/Images/cunef.png" alt="CUNEF"/>
      </a>
      <a href="http://www.grupoacs.com/" target="_blank">
          <img src="/Images/dragados.png" alt="SEI (Dragados)"/>
      </a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <p>A todos nuestros clientes, les agradecemos sinceramente que hayan depositado su confianza en nosotros.</p>
      <p>Estos son nuestros clientes organizados por sectores de actividad.</p>
      <h2>Aeronáutica</h2>

      <ul>
          <li><a href="http://www.iberia.com" target="_blank">IBERIA</a>.</li>
          <li><a href="http://www.itp.es" target="_blank">ITP (Industria de Turbo Propulsores)</a>.</li>
          <li>
              <a href="http://www.eurocopter.com" target="_blank">Eurocopter</a> (del grupo <a href="http://www.eads.net" target="_blank">EADS</a> - European Aeronautic, Defense
              and Space Company).
          </li>
      </ul>
      <h2>Banca</h2>
      <ul>
          <li><a href="https://www.bbva.es/‎" target="_blank">BBVA</a></li>
      </ul>
      <h2>Comercio electrónico</h2>
      <ul>
          <li><a href="http://www.zena.com" target="_blank">Zena</a></li>
      </ul>
      <h2>Consultoría</h2>
      <ul>
          <li><a href="http://www.kpmg.es" target="_blank">KPMG</a></li>
          <li>AC&amp;G</li>
          <li><a href="http://www.tact.ie" target="_blank">Tallon</a></li>
      </ul>
      <h2>Educación</h2>
      <ul>
          <li><a href="http://www.cunef.edu" target="_blank">CUNEF</a></li>
      </ul>
      <h2>Ingeniería</h2>
      <ul>
          <li>SEI (Sistemas e Instrumentación del grupo Dragados)</li>
          <li>Impulsa</li>
          <li>HRE Hidraulic </li>
      </ul>
      <h2>Seguros</h2>
      <ul>
          <li><a href="http://www.bnpparibascardif.es" target="_blank">Cardif</a> (Grupo BNP Paribas)</li>
      </ul>
      <h2>Servicios TI</h2>
      <ul>
          <li><a href="http://www.accenture.es" target="_blank">Accenture</a></li>
          <li><a href="http://www.nec.es" target="_blank">NEC</a></li>
          <li><a href="http://www.unisys.es" target="_blank">Unisys</a></li>
          <li><a href="http://www.sogeti.es" target="_blank">Sogeti</a></li>
          <li><a href="http://www.clearchannel.es/" target="_blank">Clear Channel</a></li>
          <li><a href="http://www.nextcs.es/" target="_blank">NEXT</a></li>
          <li><a href="http://www.alalzasi.com/" target="_blank">Alalza</a></li>
          <li><a href=" http://www.tilenusconsultores.com/" target="_blank">Tilenus Consultores</a></li>
      </ul>
      <h2>Telecomunicaciones</h2>
      <ul>
          <li><a href="http://www.vodafone.es" target="_blank">Vodafone</a></li>
      </ul>
      <h2>Transporte aéreo</h2>
      <ul>
          <li><a href="http://www.iberia.com" target="_blank">Iberia</a></li>
          <li><a href="http://www.zorex.es" target="_blank">Zorex Air Transport</a></li>
      </ul>
      <h2>Turismo</h2>
      <ul>
          <li>London Connects</li>
          <li><a href="http://www.neoturismo.com" target="_blank">Neoturismo</a></li>
          <li>Mint Airways</li>
          <li>Inter-Flights</li>
          <li><a href="http://www.sendaseuropa.com" target="_blank">Sendas de Europa</a></li>
          <li><a href="http://www.mapatours.com" target="_blank">Mapatours</a></li>
          <li>Tierra Joven</li>
          <li>Dynamic Tours</li>
          <li>Air Team International</li>
          <li>Neoturismo Sevilla</li>
      </ul>

  </div>
</div>

