<h1>{{title}}</h1>
<!-- <app-header-image [image]="headerImageUrl"></app-header-image> -->
<app-carousel></app-carousel>
<div class="container-fluid">
  ...home works!
</div>
<div class="row">
  <div class="col-lg-12">
      <p>Bienvenido a Time For Software, expertos en desarrollo de software.</p>
      <p>En Time For Software ofrecemos @Html.ActionLink("servicios", "Servicios", "Home") de desarrollo de aplicaciones web, bases de datos e integración de sistemas. Para dar estos servicios correctamente, utilizamos @Html.ActionLink("técnicas y tecnologías", "Tecnologias", "Home") de última generación.</p>
      <p>En Time For Software defendemos el trabajo bien hecho y buscamos la satisfacción de nuestros clientes. Para conseguir estos objetivos, consideramos cada proyecto como un reto en el que intentamos innovar aplicando todo nuestro conocimiento y experiencia.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
      <h2>Getting started</h2>
      <p>
          ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
          enables a clean separation of concerns and gives you full control over markup
          for enjoyable, agile development.
      </p>
      <p>
          <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
      </p>
  </div>
  <div class="col-md-4">
      <h2>Get more libraries</h2>
      <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
      <p>
          <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
      </p>
  </div>
  <div class="col-md-4">
      <h2>Web Hosting</h2>
      <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
      <p>
          <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
      </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <h2 class="page-header">Soluciones</h2>
      <p>En Time For Software ofrecemos servicios de desarrollo de aplicaciones web, bases de datos e integración de sistemas. Para dar estos servicios correctamente, utilizamos @Html.ActionLink("técnicas y tecnologías", "Tecnologias", "Home") de última generación.</p>
  </div>
</div>
<!-- Service List -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
  <div class="col-lg-12">
      <h2 class="page-header">Servicios</h2>
      <p>En Time For Software ofrecemos @Html.ActionLink("servicios", "Servicios", "Home") de desarrollo de aplicaciones web, bases de datos e integración de sistemas. Para dar estos servicios correctamente, utilizamos @Html.ActionLink("técnicas y tecnologías", "Tecnologias", "Home") de última generación.</p>
  </div>

  <div class="col-md-4">
      <div class="media">
          <div class="pull-left">
              <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <h4 class="media-heading">Aplicaciones web</h4>
              <p>Desarrollo de aplicaciones web a medida, migración de aplicaciones, RIA. Rich Internet Applications, SPA. Single Page Applications</p>
          </div>
      </div>
      <div class="media">
          <div class="pull-left">
              <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <h3 class="media-heading">Otros servicios de desarrollo</h3>
              <p>Estudios de viabilidad, análisis de sistemas, diseño de sistemas y construcción de sistemas.</p>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="media">
          <div class="pull-left">
              <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-database fa-stack-1x fa-inverse"></i>
              </span>
          </div>
          <div class="media-body">
              <h3 class="media-heading">Bases de datos</h3>
              <p>Modelado, diseño y construcción de bases de datos, migración de bases de datos, tuning de bases de datos.</p>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="media">
          <div class="pull-left">
              <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-cogs fa-stack-1x fa-inverse" ></i>
              </span>
          </div>
          <div class="media-body">
              <h3 class="media-heading">Integración de sistemas</h3>
              <p>dsdssd adipisicing elit. Illo itaque ipsum sit harum.</p>
          </div>
      </div>
  </div>
</div>
<!-- /.row -->
<!-- Experiencia List -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
  <div class="col-lg-12">
      <h2 class="page-header">Experiencia</h2>
      <p>En Time For Software tenemos experiencia en proyectos de desarrollo de software en los siguientes sectores de actividad:
              @Html.ActionLink("Administración publica", "ExperienciaAdministracionPublica", "Home"),
              @Html.ActionLink("Aeronáutica", "ExperienciaAeronautica", "Home"),
              @Html.ActionLink("Banca", "ExperienciaBanca", "Home"),
              @Html.ActionLink("Comercio electrónico", "ExperienciaComercioElectronico", "Home"),
              @Html.ActionLink("Consultoría", "ExperienciaConsultoria", "Home"),
              @Html.ActionLink("Educación", "ExperienciaEducacion", "Home"),
              @Html.ActionLink("Ingeniería", "ExperienciaIngenieria", "Home"),
              @Html.ActionLink("Seguros", "ExperienciaSeguros", "Home"),
              @Html.ActionLink("Servicios TI", "ExperienciaServiciosTI", "Home"),
              @Html.ActionLink("Telecomunicaciones", "ExperienciaTelecomunicaciones", "Home"),
              @Html.ActionLink("Transporte aéreo", "ExperienciaTransporteAereo", "Home") y 
              @Html.ActionLink("Turismo", "ExperienciaTurismo", "Home").
      </p>
  </div>
</div>
<!-- /.row -->
