<h1>{{title}}</h1>
<app-header-image [image]="headerImageUrl"></app-header-image>
<div class="row">
    <div class="col-lg-12">
        <p>{{shortDescription}}</p>
        <p>En Time XXXX For Software ofrecemos servicios de desarrollo de aplicaciones web, bases de datos e integración de
            sistemas. Para dar estos servicios correctamente, utilizamos @Html.ActionLink("técnicas y tecnologías", "Tecnologias",
            "Home") de última generación.</p>
        <h2>Aplicaciones web</h2>

        <ul>
            <li>Desarrollo de aplicaciones web a medida</li>
            <li>Migración de aplicaciones</li>
            <li>RIA. Rich Internet Applications</li>
            <li>SPA. Single Page Applications</li>
        </ul>
        <h2>Microservicios</h2>
        <ul>
            <li>Desarrollo de aplicaciones web a medida</li>
            <li>Migración de aplicaciones</li>
            <li>RIA. Rich Internet Applications</li>
            <li>SPA. Single Page Applications</li>
        </ul>
        <h2>Bases de datos</h2>
        <ul>
            <li>Modelado, diseño y construcción de bases de datos</li>
            <li>Migración de bases de datos</li>
            <li>Tuning de bases de datos</li>
        </ul>
        <h2>Integración de sistemas</h2>
        <h2>Otros servicios de desarrollo</h2>
        <ul>
            <li>Estudios de viabilidad</li>
            <li>Análisis de sistemas</li>
            <li>Diseño de sistemas</li>
            <li>Construcción de sistemas</li>
        </ul>
    </div>
</div>