<h1>{{title}}</h1>
<app-header-image [image]="headerImageUrl"></app-header-image>
<div class="row">
<div class="col-lg-6">
    <p>En Time For Software tenemos experiencia en proyectos de desarrollo de software en los siguientes sectores de actividad:</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small>Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p>En Time For Software tenemos experiencia en proyectos de desarrollo de software en los siguientes sectores de actividad:</p>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="nav-link" href="#">Link</a>
                <span class="badge badge-primary badge-pill">14 proyectos</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="nav-link" [routerLink]="['about-us']">Nosotros</a>
                <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Morbi leo risus
                <span class="badge badge-primary badge-pill">1</span>
            </li>
        </ul>

        <ul>
            <li>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" [routerLink]="['about-us']">Nosotros</a>
                @Html.ActionLink("Administración publica", "ExperienciaAdministracionPublica", "Home")
            </li>

            <li>
                @Html.ActionLink("Aeronáutica", "ExperienciaAeronautica", "Home")
            </li>
            <li>
                @Html.ActionLink("Banca", "ExperienciaBanca", "Home")
            </li>
            <li>
                @Html.ActionLink("Comercio electrónico", "ExperienciaComercioElectronico", "Home")
            </li>
            <li>
                @Html.ActionLink("Consultoría", "ExperienciaConsultoria", "Home")
            </li>
            <li>
                @Html.ActionLink("Educación", "ExperienciaEducacion", "Home")
            </li>
            <li>
                @Html.ActionLink("Ingeniería", "ExperienciaIngenieria", "Home")
            </li>
            <li>
                @Html.ActionLink("Seguros", "ExperienciaSeguros", "Home")
            </li>
            <li>
                @Html.ActionLink("Servicios TI", "ExperienciaServiciosTI", "Home")
            </li>
            <li>
                @Html.ActionLink("Telecomunicaciones", "ExperienciaTelecomunicaciones", "Home")
            </li>
            <li>
                @Html.ActionLink("Transporte aéreo", "ExperienciaTransporteAereo", "Home")
            </li>
            <li>
                @Html.ActionLink("Turismo", "ExperienciaTurismo", "Home")
            </li>

        </ul>
    </div>
</div>